body{
    overflow-y: hidden;
}

.c1{
    background-color: transparent;
    border: 0px rgb(220, 220, 220) solid;
    height: 320px;
    width: 200px;
    border-radius: 5px;
    color: white;
    
}



#sLocation{
width: 70%;
    /* width: 500px; */
    height: 40px;
    /* opacity: 0.1; */
    background-color: transparent;
    color: white;
    margin-left: 16em;
    margin-top: -10em;
   
}

.content{
    margin-left: 13em;
    margin-top: -4em;
}
#sButton{
    width: 20%;
height: 40px;
margin-top: -900rem;
margin-left: 110px;
background-color: transparent;

}
#lButton{
    width: 80%;
    /* width: 500px; */
    height: 40px;
    color: white;
    margin-top: 125px;
    margin-left: -386px; 
}
#result{
    width: 50%;
    margin-left: 32em;
    top: 4em;
}

.t1{
    margin-top: 150px;
}

    .c{
        margin-top: 100px;
        
        color: white;
    
    }
    body{
        background-size: cover;
        overflow-y: hidden;

    }



    @media(max-width:550px){

body{
    
    background-size: cover;
    height: 3000px;
    width: 200px;
    overflow-y: hidden;


}
#result{
    margin-left: 30em;
}
        #sLocation{
          width: 450px;
            margin-right: 120px;
        }
        
        #b1{
            margin-top: -56px ;
            margin-left: 500px;
        }
        #lButton{
            margin-top: -300px;
            margin-left: 50px ;
        } 
 #h1{
    margin-left: 150px;
 }}

.ca1{
    margin-top: -230px;
    margin-left: 230px;
    font-size: x-small;
}
        
    @media(max-width:380px){
        #result{
            color: white;
        }
    }


    
    @media(max-width:350px){



        #sLocation{
          width: 450px;
            margin-right: 120px;
        }
        
        #b1{
            margin-top: -56px ;
            margin-left: 500px;
        }
        #lButton{
            margin-top: -300px;
            margin-left: 50px ;
        } 
 #h1{
    margin-left: 150px;
 }}